In [52]:
import pandas as pd

In [53]:
import sklearn
from sklearn.datasets import fetch_california_housing

In [54]:
df=fetch_california_housing()

In [55]:
print(df.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

An household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surpinsingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [56]:
df.data

array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]])

In [57]:
df.target

array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894])

In [58]:
print(df)

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]]), 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]), 'frame': None, 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [59]:
import pandas as pd
data=pd.DataFrame(df.data,columns=df.feature_names)

In [60]:
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [61]:
data['Price']=df.target

In [62]:
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [63]:
data.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [64]:
data.shape

(20640, 9)

In [65]:
data.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
Price         0
dtype: int64

In [66]:
import seaborn as sns
sns.pairplot(data)

Error in callback <function flush_figures at 0x000001BEA74CF4C0> (for post_execute):

KeyboardInterrupt:

In [67]:
data_copy=data.sample(frac=0.25)

In [68]:
data_copy.shape

(5160, 9)

In [ ]:
#sns.pairplot(data_copy)

In [70]:
#divide the data into independent and independent feature
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [71]:
#divide ito train test data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=1)

In [72]:
X_train.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
7529,2.5893,33.0,3.890805,1.045977,984.0,5.655172,33.91,-118.23
13750,6.7460,5.0,7.080645,0.965054,1173.0,3.153226,34.05,-117.14
12,3.0750,52.0,5.322650,1.012821,1098.0,2.346154,37.85,-122.26
6985,4.8152,36.0,5.637324,1.021127,715.0,2.517606,33.97,-118.03
10796,9.2175,35.0,6.268734,0.927649,937.0,2.421189,33.62,-117.91

In [73]:
x.shape

(20640, 8)

In [74]:
X_train.shape,X_test.shape

((13828, 8), (6812, 8))

In [75]:
#Feature scaling should be done after spliting training and testing dataset-->standardization
#here numerical features present 

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()#z_score=x(i)-mu\sigma...scale all column accord to z_score

In [76]:
scaler.fit(X_train)#.fit-> mu and std dev
#.transform-->z_score for all..only for x_train if it will bbe for x_test then data leakage

StandardScaler()

In [77]:
scaler.transform(X_train)

array([[-0.680925  ,  0.35635938, -0.59558358, ...,  0.19968382,
        -0.80939058,  0.670932  ],
       [ 1.51995883, -1.86907049,  0.62725267, ...,  0.00200876,
        -0.74380872,  1.21414198],
       [-0.42375722,  1.86647251, -0.04668093, ..., -0.06175679,
         1.03627054, -1.33744985],
       ...,
       [-1.45221652,  1.07167613, -0.21223769, ..., -0.03814136,
        -0.80002174,  0.65598127],
       [-0.65821036, -1.47167229, -0.17358445, ..., -0.0279861 ,
        -0.89371013,  1.20417482],
       [-0.83219704,  0.51531866, -0.31584745, ..., -0.04271372,
         1.00816402, -1.30754838]])

In [78]:
X_train

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
7529,2.5893,33.0,3.890805,1.045977,984.0,5.655172,33.91,-118.23
13750,6.7460,5.0,7.080645,0.965054,1173.0,3.153226,34.05,-117.14
12,3.0750,52.0,5.322650,1.012821,1098.0,2.346154,37.85,-122.26
6985,4.8152,36.0,5.637324,1.021127,715.0,2.517606,33.97,-118.03
10796,9.2175,35.0,6.268734,0.927649,937.0,2.421189,33.62,-117.91
...,...,...,...,...,...,...,...,...
10955,1.7823,17.0,4.055046,1.087156,1079.0,2.474771,33.76,-117.88
17289,8.5608,42.0,6.788462,1.011538,753.0,2.896154,34.42,-119.63
5192,1.1326,42.0,4.890785,1.006826,775.0,2.645051,33.93,-118.26
12172,2.6322,10.0,4.991614,0.951782,1323.0,2.773585,33.73,-117.16
235,2.3036,35.0,4.620513,1.176923,1009.0,2.587179,37.79,-122.20

In [79]:
X_train=scaler.fit_transform(X_train)

In [80]:
X_train

array([[-0.680925  ,  0.35635938, -0.59558358, ...,  0.19968382,
        -0.80939058,  0.670932  ],
       [ 1.51995883, -1.86907049,  0.62725267, ...,  0.00200876,
        -0.74380872,  1.21414198],
       [-0.42375722,  1.86647251, -0.04668093, ..., -0.06175679,
         1.03627054, -1.33744985],
       ...,
       [-1.45221652,  1.07167613, -0.21223769, ..., -0.03814136,
        -0.80002174,  0.65598127],
       [-0.65821036, -1.47167229, -0.17358445, ..., -0.0279861 ,
        -0.89371013,  1.20417482],
       [-0.83219704,  0.51531866, -0.31584745, ..., -0.04271372,
         1.00816402, -1.30754838]])

In [81]:
X_test=scaler.transform(X_test)

In [82]:
X_test

array([[-0.33109846,  0.83323721, -0.36081775, ..., -0.10670554,
        -0.7391243 ,  0.60614549],
       [-1.00438349,  0.67427794, -0.17474593, ..., -0.04094317,
         0.53503769, -0.10152256],
       [ 0.07299963,  1.38959468, -0.36960021, ...,  0.05139692,
         0.98005751, -1.41718709],
       ...,
       [ 0.29850457, -1.15375374, -0.06281568, ..., -0.06503917,
        -0.91713222,  0.88522584],
       [ 0.21309967, -0.99479446,  0.28519428, ...,  0.00456624,
         0.31487   ,  0.13768918],
       [-1.45115756, -0.91531483, -1.3710043 , ...,  0.02492486,
        -0.7391243 ,  0.65099769]])

In [83]:
#model_training
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

In [84]:
#8 coefficient
#coeff
reg.coef_

array([ 0.8322597 ,  0.12270069, -0.26765985,  0.31352662, -0.00616302,
       -0.04151767, -0.90240269, -0.87614419])

In [85]:
#intercept
reg.intercept_

2.076336385594447

In [87]:
#prediction
y_pre=reg.predict(X_test)

In [94]:
#MSE\MAE\RMSE
from sklearn.metrics import mean_squared_error,mean_absolute_error
import numpy as np
mse=mean_squared_error(y_test,y_pre)
mae=mean_absolute_error(y_test,y_pre)
print(np.sqrt(mse))

0.7255207115586609

In [95]:
mse

0.5263803029005857

In [96]:
mae

0.5337061684090614

In [97]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pre)

0.5975983619028755

In [98]:
#adjusted r^2
r2=r2_score(y_test,y_pre)
adj_r2=1-(1-r2)*(len(y)-1)/(len(y)-x.shape[1]-1)

In [99]:
adj_r2

0.5974423242360258

In [101]:
#ridge

from sklearn.linear_model import Ridge
ridge=Ridge()
ridge.fit(X_train,y_train)

Ridge()

In [103]:
y_pred_ridge=ridge.predict(X_test)

In [104]:
mean_squared_error(y_test,y_pred_ridge)

0.5263780340641184

In [105]:
mean_absolute_error(y_test,y_pred_ridge)

0.5337035233414202

In [106]:
np.sqrt(mean_squared_error(y_test,y_pred_ridge))

0.7255191479651784

In [107]:
##Lasso
from sklearn.linear_model import Lasso
lasso=Lasso()
lasso.fit(X_train,y_train)

Lasso()

In [108]:
y_pred_lasso=lasso.predict(X_test)

In [109]:
mean_squared_error(y_test,y_pred_lasso)#high so use ridge

1.3086522504215072

In [110]:
mean_absolute_error(y_test,y_pred_lasso)

0.9040653653649544

In [111]:
np.sqrt(mean_squared_error(y_test,y_pred_lasso))

1.1439633955776327

In [113]:
from sklearn.linear_model import ElasticNet
EN=ElasticNet(alpha=20.0)
EN.fit(X_train,y_train)

ElasticNet(alpha=20.0)

In [114]:
y_pred_EN=EN.predict(X_test)

In [115]:
mean_squared_error(y_test,y_pred_EN)

1.3086522504215072

In [116]:
mean_absolute_error(y_test,y_pred_EN)

0.9040653653649544

In [117]:
data.corr()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176,0.688075
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197,0.105623
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540,0.151948
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344,-0.046701
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773,-0.024650
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476,-0.023737
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664,-0.144160
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000,-0.045967
Price,0.688075,0.105623,0.151948,-0.046701,-0.024650,-0.023737,-0.144160,-0.045967,1.000000